* {

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3b3b3b;
    color: white;
}

.rootTree {
    max-width: 57vw;
}

.treeElement {
    display: flex;
    flex-direction: row;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.formContainer > form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.newCategoryInput {
    height: 4vh;
    font-size: 1rem;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding-left: 12px;
}

.submitNewCategoryButton {
    height: 4vh;
    font-size: 0.9rem;
    width: 24vw;
    padding: 1vh 2vw;
    border: 2px solid white;
    color: white;
    outline: none;
    border-radius: 13px;
    background-color: #3b3b3b;
    transition: background-color 0.3s linear;
    margin: auto;
}

.submitNewCategoryButton:hover {
    cursor: pointer;
    background-color: #00b2ff;
}

.treeElement {
    list-style: none;
    margin-left: 10px;
    padding-left: 5px;
    margin-top: 5px;
}

.treeElementContent {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 9px;
}

.treeElementContent > a {
    text-decoration: none;
    color: white;
}

.treeElementContent > a:hover {
    text-decoration-line: underline;
}

.displayInputError {
    border: 3px solid #ff0000;
}

.textError {
    color: #ff2323;
    font-size: 0.9rem;
    margin: auto;
}

.textRed {
    color: red;
}
