* {

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3b3b3b;
    color: white;
}

.rootTree {
    max-width: 57vw;
}

.treeElement {
    display: flex;
    flex-direction: row;
}

.formContainer > form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 10px;
}

.formContainer > form > .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.formContainer > form > .inputContainer > input, select {
    height: 4vh;
    font-size: 1rem;
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding-left: 12px;
}

.formContainer > form > .submitNewCategoryButton {
    height: 4vh;
    font-size: 0.9rem;
    border: 0;
    border-radius: 15px;
    width: 24vw;
    margin: auto;
}

.treeElement {
    list-style: none;
    margin-left: 10px;
    padding-left: 5px;
    margin-top: 5px;
}
