* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3b3b3b;
    color: white;
}

.formContainer {
    height: 40vh;
}

.formContainer form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.loginInputField {
    outline: none;
    height: 5vh;
    width: 40vw;
    font-size: 1.1rem;
    padding-left: 15px;
    border: 0;
    border-radius: 11px;
    outline: none;

}

.loginSubmitButton {
    height: 5vh;
    width: 30vw;
    font-size: 1.1rem;
    padding: 1vh 2vw;
    border: 2px solid white;
    color: white;
    outline: none;
    border-radius: 13px;
    background-color: #3b3b3b;
    transition: background-color 0.3s linear;
}

.loginSubmitButton:hover {
    background-color: #00b2ff;
    cursor: pointer;
}

/* Styles to display an error message */
.displayInputError {
    border: 3px solid #ff0000;
}

.textError {
    color: #ff2323;
    font-size: 0.9rem;
}