<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--<th:block th:fragment="optionElement(category)">
        <option th:value="${category.ID_Category}" th:text="${category.num + ' ' + category.name}"></option>
        <option th:each="child : ${category.children}" th:replace="this::optionElement(${child})"></option>
    </th:block>-->
    <th:block th:fragment="optionElement(category)">
        <option th:value="${category.ID_Category}" th:text="${category.num + ' ' + category.name}"></option>
    </th:block>
</body>
</html>