<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="list(category)">
        <div class="treeElementContent">
            <h3 th:text="${category.num + ' ' + category.name}"></h3>
            <a th:href="@{/GoToCopyToHome}" th:text="${copyTo ? '>>>copia qui' : '>>>copia'}"></a>
        </div>

        <ul th:if="${ not #lists.isEmpty(category.children)}">
            <th:block th:each="child : ${category.children}">
                <li class="treeElement">
                    <ul th:if="${copyTo && child.ID_Category == treeToBeCopied}" th:replace="this::redList(${child})"></ul>
                    <ul th:if="${!copyTo && category.ID_Category != treeToBeCopied}" th:replace="this::list(${child})"></ul>
                </li>
            </th:block>
            <li class="treeElement">
                <ul th:replace="this::list(${child})"></ul>
            </li>
        </ul>

    </div>

    <div th:fragment="redList(category)">
        <div class="treeElementContent">
            <h3 th:text="${category.num + ' ' + category.name}" class="textRed"></h3>
        </div>

        <ul th:if="${ not #lists.isEmpty(category.children)}">
            <li th:each="child : ${category.children}" class="treeElement">
                <ul th:replace="this::redList(${child})"></ul>
            </li>
        </ul>

    </div>

</body>
</html>