<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="list(category)">
        <h3 th:text="${category.num + ' ' + category.name}"></h3>
        <ul th:if="${ not #lists.isEmpty(category.children)}">
            <li th:each="child : ${category.children}" class="treeElement">
                <ul th:replace="this::list(${child})"></ul>
            </li>
        </ul>

    </div>
</body>
</html>