<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link th:href="@{/css/GoToHome.css}" href="../css/GoToHome.css" rel="stylesheet" type="text/css"/>

    <title>List of users</title>
</head>
<body>

    <ul class="rootTree">
        <li th:each="category : ${topCategories}" th:insert="@{WEB-INF/fragments/treeElement.html} :: list(category)" class="treeElement"></li>
    </ul>

    <div class="formContainer">
        <form action="#" method="POST">
            <div class="inputContainer">
                <input type="text" placeholder="name" name="name" required />
                <select name="parent" required>
                    <option th:each="category : ${allCategories}" th:value="${category.ID_Category}" th:text="${category.num + ' ' + category.name}"></option>
                    <!--<th:block th:each="category : ${topCategories}">
                        <th:block th:insert="@{WEB-INF/fragments/optionElementForm.html} :: optionElement(category)"></th:block>
                    </th:block>-->
                </select>
            </div>
            <input type="submit" value="add new category" class="submitNewCategoryButton" />
        </form>
    </div>





</body>
</html>